.trip{
    .content{
        padding-top: 50px;

        color: rgb(65, 65, 65);

        p{
            font-size: 1rem;
            line-height: 2rem;
            text-indent: 2rem;
        }

        @media only screen and (max-width: 768px) {
            p, .intro{
                text-align: justify;
            }
        }

        img{
            max-width: 100%;
            display: block;
            margin: auto;
        }

        h1{
            font-size: 3rem;
            margin-bottom: 25px;
            color: var(--secondary);
        }

        h2.date{
            color: #8E8E8E;
            font-size: 1.2rem;
            margin-top: 0px;
            font-weight: normal;
            margin-bottom: 30px;
        }

        table{
            margin-top: 20px;
        }

        th{
            text-align: left;
            padding-right: 5px;
        }
        
        .dateCreated, .dateModified{
            font-size: 0.8rem;
            text-align: right;
        }
        .dateCreated{
            font-weight: bold;
        }

        .dateModified{
            font-style: italic;
        }


        .intro{
            font-size: 1.1rem;
            line-height: 2rem;
            padding: 0px 20px;
            border-left: 2px solid gray;
            border-right: 2px solid gray;
            margin: 20px auto;
        }

        .tag{
            background-color: var(--secondary);
            color: white;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 5px;
            font-size: 14px;
        }

        .tag:hover{
            text-decoration: underline;
        }
    }

}